body[data-page-id="punto-home-index"] {
    background-color: var(--colors-grey-800);
}

:focus {
    outline: 4px solid rgba(255, 255, 255, .5);
    outline-offset: 1px;
}

:focus[data-focus-method="mouse"]:not(input):not(textarea):not(select), :focus[data-focus-method="touch"]:not(input):not(textarea):not(select) {
    outline: none
}

body[data-page-id="punto-home-index"] .section:not(.section.two) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

body[data-page-id="punto-home-index"] .section.one {
    align-items: flex-end!important;
}

body[data-page-id="punto-home-index"] .section.one .section-content {
    width: 100%;
    height: calc(100% - 96px);
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

body[data-page-id="punto-home-index"] .section.one .section-header-container {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

body[data-page-id="punto-home-index"] .section.one .section-header-container * {
    text-align: -webkit-center;
    text-align: center;
}

body[data-page-id="punto-home-index"] .section.one .section-header-container .text.one {
    padding-bottom: 56px;
}

body[data-page-id="punto-home-index"] .section.two {
    position: absolute;
    z-index: 2;
    width: 0px;
    height: 0px;
}

body[data-page-id="punto-home-index"] .section.two .info-banner.one::before {
    background-image: url(../img/spaceBackground/purple/4.png);
}

body[data-page-id="punto-home-index"] .section.two .info-banner.two::before {
    background-image: url(../img/spaceBackground/blue/3.png);
}

body[data-page-id="punto-home-index"] .section.two .info-banner.three::before {
    background-image: url(../img/spaceBackground/dark/2.png);
}

body[data-page-id="punto-home-index"] .section.three .planet {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 32px;
    margin-left: 16px;
}

body[data-page-id="punto-home-index"] .section.three .planet .planet-planet {
    width: 128px;
    filter: hue-rotate(59deg);
}

body[data-page-id="punto-home-index"] .section.three .planet .planet-rags {
    position: absolute;
    left: 34px;
    bottom: 58px;
    -webkit-transform: rotate(24deg) translateY(10px);
    transform: rotate(24deg) translateY(10px);
    z-index: -1;
    filter: saturate(0.5);
    width: 128px;
    opacity: 0;
    -webkit-transition: opacity 200ms linear, transform 200ms linear, -webkit-transform 200ms linear;
    transition: opacity 200ms linear, transform 200ms linear, -webkit-transform 200ms linear;
}

body[data-page-id="punto-home-index"] .section.three .planet:hover .planet-rags {
    opacity: 1;
    -webkit-transform: rotate(26deg) translateY(0);
    transform: rotate(26deg) translateY(0);
}

body[data-page-id="punto-home-index"] .section.three .planet-alert {
    position: absolute;
    bottom: 76px;
    width: fit-content;
    left: 212px;
}

body[data-page-id="punto-home-index"] .section.three .planet-alert .text {
    width: 34vw;
}

body[data-page-id="punto-home-index"] .section.four {
    align-items: flex-end!important;
    transition: transform 50ms linear 0s;
    background-color: #102217;
    background-image: url(../img/spaceBackground/green/2.png);
    background-size: cover;
    height: fit-content;
    padding: 32px 0 512px;
}

body[data-page-id="punto-home-index"] .section.four * {
    z-index: 2;
}

body[data-page-id="punto-home-index"] .section.five {
    margin-top: 256px;
    display: block!important;
    padding: 0 32px;
}

body[data-page-id="punto-home-index"] .section.five .headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}

body[data-page-id="punto-home-index"] .section.five .headline .text {
    text-align: center;
}

body[data-page-id="punto-home-index"] .section.five .headline-separator {
    width: 100%;
    height: 0;
    margin-bottom: 256px;
}

body[data-page-id="punto-home-index"] .headline .svg-icon svg {
    overflow: visible;
}

body[data-page-id="punto-home-index"] .section.five .headline .svg-icon path {
    stroke-dasharray: 900;
    stroke-dashoffset: 800;
    stroke-width: 10px;
    stroke-linecap: round;
    fill: transparent;
    stroke: var(--colors-light);
}

body[data-page-id="punto-home-index"] .section.five .headline.one .svg-icon path {
    stroke-width: 1px;
    stroke-dasharray: 300;
}

body[data-page-id="punto-home-index"] .section.five .headline.five .svg-icon path {
    stroke-dasharray: 1400;
}

body[data-page-id="punto-home-index"] .section.six {
    margin-top: 256px;
}

body[data-page-id="punto-home-index"] .headline.colored .svg-icon path {
    stroke: var(--headline-color)!important;
}

body[data-page-id="punto-home-index"] .headline.colored .text {
    color: var(--headline-color);
}

body[data-page-id="punto-home-index"] .section.eight .animation-container {
    width: 100vw;
    height: 720px;
}

body[data-page-id="punto-home-index"] .section.eight .animation-container .animation-canvas {
    position: sticky;
    left: 0;
    top: 0;
}

body[data-page-id="punto-home-index"] .section.eight .section-header-container .text.one,
body[data-page-id="punto-home-index"] .section.eight .section-header-container-fake .text.one {
    text-align: center;
    width: 100%;
    /*transform: translateX(-60px);*/
    
}

@media screen and (max-width:880px) {
    body[data-page-id="punto-home-index"] .section.eight .section-header-container .text.one,
    body[data-page-id="punto-home-index"] .section.eight .section-header-container-fake .text.one {
        text-align: center;
        width: 100%;
        /*transform: translateX(-60px);*/
    }
}

body[data-page-id="punto-home-index"] .section.eight {
    padding-top: 128px;
}

body[data-page-id="punto-home-index"] .section.eight .price-cards-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

body[data-page-id="punto-home-index"] .section.eight .price-cards {
    width: 75%;
    height: 900px;
}

body[data-page-id="punto-home-index"] .section.eight .section-header-container,
body[data-page-id="punto-home-index"] .section.eight .section-header-container-fake {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
    z-index: 3;
    align-items: flex-end;
    height:216px!important;
}

body[data-page-id="punto-home-index"] .section.eight .price-card.one {
    background-color: #00172b;
    background-image: url(../img/spaceBackground/cyan/2.png);
}

body[data-page-id="punto-home-index"] .section.eight .price-card.two {
    background-color: #111837;
    background-image: url(../img/spaceBackground/blue/2.png);
}

body[data-page-id="punto-home-index"] .section.eight .price-card.three {
    background-color: #06060a;
    background-image: url(../img/spaceBackground/dark/4.png);
}

body[data-page-id="punto-home-index"] .section.eight .price-card.four {
    background-color: #06060a;
    background-image: url(../img/spaceBackground/dark/2.png);
}

body[data-page-id="punto-home-index"] .section.eight .price-card-gap {
    display: none;
}

body[data-page-id="punto-home-index"] .section.eight .footnote ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body[data-page-id="punto-home-index"] .section.eight .footnote li {
    font-size: 12px;
}

body[data-page-id="punto-home-index"] .section.seven {
    margin-top: 64px;
}

body[data-page-id="punto-home-index"] .section.seven .section-content {
    padding: 64px 0 0;
}

body[data-page-id="punto-home-index"] .section.seven .reviews {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 720px;
}

body[data-page-id="punto-home-index"] .section.seven .review {
    width: 512px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1em;
    padding-bottom: 16px;
}

body[data-page-id="punto-home-index"] .section.seven .review-image {
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
    margin: 0 16px;
}

body[data-page-id="punto-home-index"] .section.seven .review.one .review-image {
    background-color: #6b6d86;
    background-image: url(../img/people/greta-thunberg.png);
}

body[data-page-id="punto-home-index"] .section.seven .review.two .review-image {
    background-color: #1e4d1d;
    background-image: url(../img/people/fringy.png);
}

body[data-page-id="punto-home-index"] .section.seven .review-header {
    display: flex;
    align-items: flex-end;
    padding: 16px 0 0;
}

body[data-page-id="punto-home-index"] .section.seven .review-header-text {
    display: flex;
    flex-direction: column;
}

body[data-page-id="punto-home-index"] .section.seven .review-separator {
    width: calc(100% - 32px);
    height: 3px;
    background-color: var(--colors-light);
    margin-top: 16px;
    margin-bottom: 16px;
    align-self: center;
}

body[data-page-id="punto-home-index"] .section.seven .review-quote {
    margin: 0 16px;
    text-align: justify;
}

body[data-page-id="punto-home-index"] .section.seven .review {
    overflow: hidden;
}

body[data-page-id="punto-home-index"] .section.seven #s7img1 {
    position: absolute;
    transform-origin: top left;
    z-index: 1;
}

body[data-page-id="punto-home-index"] .section.seven #s7img2 {
    position: absolute;
    transform-origin: top left;
    z-index: 1;
    clip-path: inset(-2px 0px 2px 0);
}

body[data-page-id="punto-home-index"] .footer {
    background-color: var(--colors-grey-700);
}

body[data-page-id="punto-home-index"] .footer-main {
    background-color: inherit;
    display: flex;
    justify-content: center;
}

body[data-page-id="punto-home-index"] .footer-main ul {
    display: flex;
    padding: 32px 0;
    width: 75%;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

body[data-page-id="punto-home-index"] .footer-copyright {
    background-color: var(--colors-grey-600);
    display: flex;
    justify-content: center;
    padding: 32px 0
}

body[data-page-id="punto-home-index"] .footer-coffee {
    overflow: hidden;
    border-radius: 10px;
}

@media screen and (max-width:1260px) {
    body[data-page-id="punto-home-index"] .bento-box.three .bento-figure.one {
        background-position-x: calc(120% + 84px);
    }
}

@media screen and (max-width:1040px) {
    body[data-page-id="punto-home-index"] .section.one .section-header-container {
        width: 75%;
    }
    body[data-page-id="punto-home-index"] .section.six {
        height: fit-content;
    }
    body[data-page-id="punto-home-index"] .section.two {
        transform: translateY(260px);
    }
}

@media screen and (max-width:1000px) {
    body[data-page-id="punto-home-index"] .section.eight .section-header-container-fake {
        display: none;
    }
}

@media screen and (max-width:864px) {
    body[data-page-id="punto-home-index"] .section.eight .price-cards {
        height: auto;
    }
    body[data-page-id="punto-home-index"] .section.eight .price-card-gap {
        display: block;
        width: 100vw;
        height: 0;
        margin-top: 32px;
    }
    body[data-page-id="punto-home-index"] .footer ul {
        width: 95%;
    }
}

@media screen and (max-width:686px) {
    body[data-page-id="punto-home-index"] .section.seven .review {
        width: 80%;
    }
}

@media screen and (max-width:600px) {
    body[data-page-id="punto-home-index"] .footer ul {
        flex-direction: column;
        height: 280px;
    }
    body[data-page-id="punto-home-index"] .section.seven .reviews {
        height: auto;
    }
    body[data-page-id="punto-home-index"] .headline .text {
        font-size: 48px!important;
        letter-spacing: 5px!important;
    }
    body[data-page-id="punto-home-index"] .section.three .planet,
    body[data-page-id="punto-home-index"] .section.three .planet-alert {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}

@media screen and (max-width:500px) {
    body[data-page-id="punto-home-index"] .section.seven .review-header {
        align-items: center;
        flex-direction: column;
        margin: 0 16px;
    }
    body[data-page-id="punto-home-index"] .section.seven .review-header .text {
        text-align: center;
    }
    body[data-page-id="punto-home-index"] .section.seven .review-header-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body[data-page-id="punto-home-index"] .section.seven .review {
        align-items: center;
    }
}

@media screen and (max-width:480px) {
    body[data-page-id="punto-home-index"] .section.eight .section-header-container .text.one {
        font-size: 42px;
    }
    body[data-page-id="punto-home-index"] .section.eight .price-card {
        min-width: 0px;
    }
    body[data-page-id="punto-home-index"] .headline .text {
        font-size: 32px!important;
    }
    body[data-page-id="punto-home-index"] .section.one .section-content {
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media screen and (max-width:380px) {
    body[data-page-id="punto-home-index"] .headline .text {
        font-size: 22px!important;
    }
}

@media screen and (max-width:360px) {
    body[data-page-id="punto-home-index"] .section.eight .section-header-container .text.one {
        font-size: 30px;
    }
    body[data-page-id="punto-home-index"] .section.one .section-header-container .text.one {
        font-size: 32px;
    }
    body[data-page-id="punto-home-index"] .section.one .section-header-container .text.two {
        font-size: 16px;
    }
}

@media screen and (max-width:260px) {
    body[data-page-id="punto-home-index"] .section.eight .section-header-container .text.one {
        font-size: 18px;
    }
    body[data-page-id="punto-home-index"] .footer img {
        width: 50vw!important;
        height: auto!important;
    }
}

@media screen and (max-width:680px) {
    body[data-page-id="punto-home-index"] .section.two,
    body[data-page-id="punto-home-index"] .section.three {
        height: 1400px!important;
    }
    body[data-page-id="punto-home-index"] .section.two {
        position: absolute;
        width: 100vw;
        transform: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    body[data-page-id="punto-home-index"] .section.two .info-banner {
        position: relative;
        left: 0;
        transform: none;
    }
}

@media screen and (max-width:200px) {
    body[data-page-id="punto-home-index"] .headline .text {
        font-size: 10px!important;
    }
    body[data-page-id="punto-home-index"] .headline .svg-icon svg {
        width: 75vw;
    }
}

body[data-page-id="punto-home-index"] .section.four {
    flex-direction: column;
}

body[data-page-id="punto-home-index"] .section.four .btn {
    align-self: center;
}

body[data-page-id="punto-home-index"] .typed-cursor {
    color: var(--colors-light);
    font-weight: 900;
    transform: translateY(-1px);
}


[data-grid-area=one].bento-box {
    grid-column:1;
    grid-row:1;
}

[data-grid-area=two].bento-box {
    grid-column:2/4;
    grid-row:1;
}

[data-grid-area=three].bento-box {
    grid-column:1/3;
    grid-row:2;
}

[data-grid-area=four].bento-box {
    grid-column:3;
    grid-row:2/4;
}

[data-grid-area=five].bento-box {
    grid-column:1/3;
    grid-row:3;
}

.bento-box.one .text-content {
    margin-bottom: 324px;
    padding: 37px 41px;
    width:100%
}

.bento-box.one .text-content .text {
    width: 100%;
    text-align: end;
}

.bento-box.two .text-content {
    padding-top: 177px;
    padding-left: 107px;
    padding-bottom: 37px;
    width: 400px;
}

.bento-box.three .text-content {
    width:50%;
    margin-top:22%;
    padding-left: 32px;
}

.bento-box.four .text-content {
    margin-top: 269px;
    padding: 36px 40px;
    width: fit-content;
    margin-left: 36px;
}

.bento-box.one .bento-figure.one {
    background-image: url(../img/svg/sketches/4S1ft801.svg);
}

.bento-box.one .bento-figure.two {
    background-image: url(../img/backpack/black2.png);
    background-position-x: -102px;
    background-position-y: -35px;
    transform-origin: top left;
    transform: rotate(6deg);
}

.bento-box.two .bento-figure.one {
    background-image: url(../img/svg/sketches/3tSOJh01.svg);
}

.bento-box.two .bento-figure.two {
    background-image: url(../img/backpack/blue2.png);
    background-position-x: 184px;
    background-position-y: 159px;
}

.bento-box.three .bento-figure.one {
    background-image: url(../img/backpack/pink2.png);
    background-position-x: right;
}

.bento-box.four .bento-figure.one {
    background-image: url(../img/backpack/green2.png);
}

.bento-box.five .bento-figure.one {
    background-image: url(../img/backpack/silver2.png);
    background-position-x: -36px;
}

.bento-box.five .text-content {
    width: 40%;
    margin-left: 55%;
    text-align: right;
    margin-top: 20%;
}

.bento {
    grid-template-columns: 425px 1fr 341px;
    grid-template-rows: 546px auto 339px;
}

@media screen and (max-width:1040px) {
    .bento-container {
        height:1480px;
    }

    .bento {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 3fr 6fr 3fr 2fr;
        grid-column-gap: 0;
        grid-row-gap: 64px;
    }

    [data-grid-area=one].bento-box {
        grid-column:1;
        grid-row:1;
    }

    [data-grid-area=two].bento-box {
        grid-column:1;
        grid-row:2;
    }

    [data-grid-area=three].bento-box {
        grid-column:1;
        grid-row:3;
    }

    [data-grid-area=four].bento-box {
        grid-column:1;
        grid-row:4;
    }

    [data-grid-area=five].bento-box {
        grid-column:1;
        grid-row:5;
    }

    .bento-box.one .bento-figure.one,
    .bento-box.two .bento-figure.one {
        display:none;
    }

    .bento-box.one .bento-figure.two {
        background-position-x: left;
        background-position-y: center;
        transform: rotate(0deg);
    }

    .bento-box.two .bento-figure.two {
        background-position-x: right;
        background-position-y: center;
    }

    .bento-box.three .bento-figure.one {
        background-position-x: right;
        transform: translateX(12%) translateY(10%);
    }

    .bento-box.five .bento-figure.one {
        background-position-x: center;
        background-position-y: 42px;
    }

    .bento-box.one .text-content {
        margin: 0;
        display: flex;
        align-items: center;
        padding: 0;
        padding-right: 6%;
        width: 100%;
        height: 100%;
    }

    .bento-box.two .text-content {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 6%;
    }

    .bento-box.three .text-content {
        margin: 0;
        padding: 0;
        height: 100%;
        padding-top: 32px;
        padding-left: 6%;
    }

    .bento-box.four .text-content {
        display: flex;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        justify-content: flex-end;
        padding-right: 6%;
        align-items: center;
        text-align: right;
    }

    .bento-box.five .text-content {
        margin: 0;
        padding: 0;
        width: 100%;
        padding-top: 16px;
        display: flex;
        justify-content: center;
    }
}